@use "/src/styles/colours.scss";

@mixin button(
  $background-colour: colours.$primary,
  $border-colour: color-mix(in srgb, $background-colour 90%, #000 10%)
) {
  background-color: $background-colour;

  border: 3px solid $border-colour;
  border-radius: 100px;

  height: 3em;
  padding: 1em;
  font-size: large;
  cursor: pointer;

  color: colours.$text-tertiary;
  transition:
    background-color 0.3s,
    border-color 0.3s;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover:not([disabled]) {
    background-color: color-mix(in srgb, $background-colour 85%, #000 15%);
    border-color: color-mix(in srgb, $border-colour 85%, #000 15%);
  }
}

@mixin button-disabled(
  $background-colour: colours.$primary,
  $border-colour: color-mix(in srgb, $background-colour 90%, #000 10%)
) {
  &[disabled] {
    background-color: color-mix(in srgb, $background-colour 85%, #000 15%);
    border-color: color-mix(in srgb, $border-colour 85%, #000 15%);
    color: color-mix(in srgb, colours.$text-tertiary 75%, #000 25%);

    cursor: not-allowed;
  }
}
