@use "/src/styles/fonts/Outfit.scss";
@use "./scrollbar.scss";

body {
  background-color: #181818;
  margin: 0;

  font-family: "Outfit", sans-serif;
}

main {
  @include scrollbar.scrollbar(#3d3d3d);

  color: white;
  max-height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

.error {
  display: block;
  color: red;
  font-size: larger;
}

.hidden {
  display: none !important;
}
